h1 Hello, i'm Cyou!!!
a(href="/todos/create") New Work
form(action="/todos/task",method="GET")
    input(type="text", name="q",value=valued)
    button search
ul
    each user in users
        li= user.work